@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<script src="~/content/vue2.2.4.js"></script>
<script src="~/content/jquery-1.10.1.min.js"></script>



<div id="content">

    <p>{{msg}}</p>

    <input type="text"  v-model="msg" />

</div>



<script>


    //实例化一个vue.js

    var vm = new Vue({
        el: '#content',
        data: {
            msg:'hello vue.js222222'
        }
    });



</script>